body{
    display: flow;
    background-color: white;
}
.dashboard-template{
    background-color: aliceblue;
    display: flex;
    width: 100%;
}
.user-info{
    /* background-color: red; */
    margin: auto;
    width: 75%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.user-card{
    margin: auto;
}


@media screen and (max-width: 1007px) {
    .user-info {
       grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (max-width: 670px) {
    .user-info {
        /* margin: auto; */
       grid-template-columns: repeat(1, 1fr);
     }
}